aiosmtplib
alembic
annotated-doc
annotated-types
anyio
APScheduler
bcrypt
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
cycler
distro
dnspython
email-validator
fastapi
fastapi-mail
filelock
firebase-admin
flatbuffers
fonttools
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-generativeai>=0.7.0
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httptools
httpx
humanfriendly
hyperframe
idna
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
ml_dtypes
mpmath
msgpack
networkx
numpy
onnx
onnxruntime
opencv-python-headless
packaging
passlib
pdfkit
pillow
polars
proto-plus
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
PyMySQL
pyparsing
pyreadline3
python-dateutil
python-dotenv
python-multipart
PyYAML
regex
requests
rsa
scipy
setuptools
six
sniffio
SQLAlchemy
starlette
sympy
tenacity
torch
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
ultralytics
ultralytics-thop
uritemplate
urllib3
uvicorn
watchfiles
websockets
cloudinary