fastapi
uvicorn[standard]
pydantic
pydantic-settings
SQLAlchemy
alembic
python-multipart
pymysql
onnxruntime
onnx
Pillow
requests
PyJWT
firebase-admin
fastapi-mail
email-validator
passlib[bcrypt]
firebase_admin