name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches:
      - "android-test"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/mobile_web_flutter

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Flutter pub get
        run: flutter pub get
        
      - name: Build debug APK (gradle)
        run: |
          cd android
          chmod +x gradlew
          ./gradlew :app:compileDebugKotlin --stacktrace --info
          ./gradlew :app:assembleDebug --stacktrace --info


      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: frontend/mobile_web_flutter/android/app/build/outputs/apk/debug/app-debug.apk
